#Basics

In [ ]:
try:
  pass
  # code

except:
  print("error")

else:
  pass
finally:
  pass

In [ ]:
try:
  number = input("Enter a number : ")
  number*number
except Exception as e:
  print(f"error: {e}")

Enter a number : 3
error: can't multiply sequence by non-int of type 'str'

In [ ]:
number = input("Enter a number : ")
number*3

Enter a number : 3

'333'

In [ ]:
def med(a,b):
  try:
    c = ((a+b)//(a-b))
  except ZeroDivisionError:
    print("a-b is equal to 0")
  else:
    print(c)
  finally:
    print("this method will execute always")

In [ ]:
print(med(3,2))
print(med(3,3))

5
this method will execute always
None
a-b is equal to 0
this method will execute always
None

# General Exceptions

In [ ]:
# syntax error

if 2< 5
  print("hello")

SyntaxError: expected ':' (<ipython-input-25-0875263c52f9>, line 3)

In [ ]:
if 2 < 5:
print("hello")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-26-66e08b35e0f2>, line 2)

In [ ]:
# name error
if x < 5:
  print("jhellloo")

NameError: name 'x' is not defined

In [ ]:
# type error

result = "Helo" +42

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
#FileNotFoundError
with open("example.txt" , "r") as file:
  file.read()

FileNotFoundError: [Errno 2] No such file or directory: 'example.txt'

In [ ]:
#IO Error
with open("example.txt", 'r') as file:
  file.write("hello")

UnsupportedOperation: not writable

In [ ]:
#index error

a = [1,2,3,4]
a[5]

IndexError: list index out of range

In [ ]:
#key error

my_dict = {'name': "sahil", 'age' : 29}
my_dict['gender']

KeyError: 'gender'

In [ ]:
name = "Sahil"

name.length

AttributeError: 'str' object has no attribute 'length'

In [ ]:
def my_func():
  raise RuntimeError("error")

my_func()

RuntimeError: error

In [ ]:
1/0

ZeroDivisionError: division by zero

In [ ]:
x = 5
assert x>10

AssertionError:

# Good Practices of using Exception Handling

In [ ]:
# be specfic

try:

  with open("example.txt", 'r') as file:
    content = file.read()
except FileNotFoundError as e:
  print(e)

[Errno 2] No such file or directory: 'example.txt'

In [ ]:
try:
  with open('example.txt', 'w') as file:
    file.write("example data")
except IOError as e:
  print(f"error : {e}")
finally:
  file.close()

In [ ]:
# Avoid Bare except

try:

  pass

except Exception as e:
  print("An error found")

In [ ]:
try:

  pass


except FileNotFoundError as e:
  print(f"file not found : {e}")

except IOError as e:
  print(f"io error found : {e}")

In [ ]:
import logging

try:

  pass

except Exception as e:
  logging.error(f"an error found : {e}")

In [ ]:
try:

  pass

except Exception as e:

  raise

In [ ]:
try:
  pass

except FileNotFoundError as e:
  print(f" error found : {e}")

else:
  print("successful operation ")

successful operation