# Generator Functions

Python provides a generator to create your own iterator function. A generator is a special type of function which does not return a single value, instead it returns an iterator object with a sequence of values. In a generator function, a yield statement is used rather than a return statement.

Generator function uses `yield` instead of `return` keyword. So, this will `return` the value against the `yield` keyword each time it is called.

In [ ]:
def mygenerator():
    '''
    Functions returns 10, 20, 30 one after the other
    when called using next function
    '''
    print('First item')
    yield 10

    print('Second item')
    yield 20

    print('Last item')
    yield 30

In [ ]:
gen = mygenerator()

In [ ]:
# run this cell 3 times to see the generated objects.
next(gen)

First item

10

Using `return` statement in generator functions terminates the process after first `return` statement.

In [ ]:
def mygenerator():
      print('First item')
      yield 10

      return

      print('Second item')
      yield 20

      print('Last item')
      yield 30

In [ ]:
gen = mygenerator()

In [ ]:
next(gen)

First item

10

Using for oop with generator function

In [ ]:
def get_sequence_upto(x):
    for i in range(x):
        yield i

In [ ]:
seq = get_sequence_upto(5)

In [ ]:
# run this for 5 times and we can see the values changing
next(seq)

0

In [ ]:
def square_of_sequence(x):
      for i in range(x):
          yield i*i

In [ ]:
gen=square_of_sequence(5)
while True:
    try:
        print ("Received on next(): ", next(gen))
    except StopIteration:
        break

Received on next():  0
Received on next():  1
Received on next():  4
Received on next():  9
Received on next():  16

### Generators expression

In [ ]:
# Initialize the list
my_list = [1, 3, 6, 10]

# square each term using list comprehension
list_ = [x**2 for x in my_list]

# same thing can be done using a generator expression
# generator expressions are surrounded by parenthesis ()
generator = (x**2 for x in my_list)

print(list_)
print(generator) # returns the functions location

[1, 9, 36, 100]
<generator object <genexpr> at 0x7aeae16a9d20>

In [ ]:
# we can get the items in functions using this.
# Initialize the list
my_list = [1, 3, 6, 10]

a = (x**2 for x in my_list)
while True:
    try:
        print (next(a))
    except StopIteration:
        break

1
9
36
100

## Example1

In [ ]:
def pw_skills_generator():
    yield "Python"
    yield "Web Development"
    yield "Problem Solving"
    yield "Debugging"

# Usage
for skill in pw_skills_generator():
    print(f"Learn: {skill}")

Learn: Python
Learn: Web Development
Learn: Problem Solving
Learn: Debugging

## Example2

In [ ]:
def courses_generator():
    yield "Python Basics"
    yield "Web Development Fundamentals"
    yield "Data Science Essentials"

# Usage
for course in courses_generator():
    print(f"Enroll in: {course}")

Enroll in: Python Basics
Enroll in: Web Development Fundamentals
Enroll in: Data Science Essentials

## Example3

In [ ]:
def data_science_concepts_generator():
    yield "Data Exploration"
    yield "Machine Learning"
    yield "Data Visualization"
    yield "Statistics Basics"

# Usage
for concept in data_science_concepts_generator():
    print(f"Understand: {concept}")

Understand: Data Exploration
Understand: Machine Learning
Understand: Data Visualization
Understand: Statistics Basics

## Example4

In [ ]:
def data_analytics_tools_generator():
    yield "Pandas"
    yield "NumPy"
    yield "Matplotlib"
    yield "SQL"

# Usage
for tool in data_analytics_tools_generator():
    print(f"Use: {tool}")

Use: Pandas
Use: NumPy
Use: Matplotlib
Use: SQL

## Example5

In [ ]:
def fibonacci_generator():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

# Usage
fib_gen = fibonacci_generator()
for _ in range(10):
    print(next(fib_gen))

0
1
1
2
3
5
8
13
21
34

## Example6

In [ ]:
def prime_numbers_generator():
    primes = []
    num = 2
    while True:
        is_prime = all(num % prime != 0 for prime in primes)
        if is_prime:
            yield num
            primes.append(num)
        num += 1

# Usage
prime_gen = prime_numbers_generator()
for _ in range(10):
    print(next(prime_gen))

2
3
5
7
11
13
17
19
23
29

In [ ]:
def episode_stream():
    yield "Episode 1"
    yield "Episode 2"
    yield "Episode 3"

# Usage
streaming = episode_stream()
print(next(streaming))  # You get "Episode 1"
print(next(streaming))  # You get "Episode 2"

Episode 1
Episode 2

In [ ]:
def all_episodes():
    return ["Episode 1", "Episode 2", "Episode 3"]

# Usage
all_episodes_list = all_episodes()
print(all_episodes_list)  # You get ["Episode 1", "Episode 2", "Episode 3"]

['Episode 1', 'Episode 2', 'Episode 3']