# `map()` function

The `map()` function executes a specified function for each item in an `iterable`. The item is sent to the function as a parameter.

In [ ]:
# get the docstring of the function using help()
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
def square(a):
    return a**a

In [ ]:
sqr = map(square, [1,2,3,4])
sqr

In [ ]:
#convert the map into a list, for readability:
print(list(sqr))

[1, 4, 27, 256]

In [ ]:
def myfunc(a, b):
     return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

In [ ]:
print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']

## Example1

In [ ]:
numbers = (1, 2, 3, 4)
result = map(lambda x: x*x, numbers)
print(result)

# converting map object to set/list/tuple
numbersSquare = tuple(result)
print(numbersSquare)

<map object at 0x7d87823f4e50>
(1, 4, 9, 16)

## Example2

In [ ]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]

result = map(lambda n1, n2: n1+n2, num1, num2)
print(list(result))

[]

## Example3

In [ ]:
# Convert String Numbers to Integers

numbers_as_strings = ["1", "2", "3", "4", "5"]
numbers_as_integers = list(map(int, numbers_as_strings))
print(numbers_as_integers)

[1, 2, 3, 4, 5]

## Example4

In [ ]:
# Calculate Square of Each Number

numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

## Example5

In [ ]:
# Capitalize First Letter of Each Word
words = ["python", "programming", "skills"]
capitalized_words = list(map(str.capitalize, words))
print(capitalized_words)

['Python', 'Programming', 'Skills']

## Example6

In [ ]:
# Calculate GPA from Grades

grades = ["A", "B", "C", "A", "B"]
gpa = list(map(lambda grade: 4 if grade == "A" else (3 if grade == "B" else 2), grades))
print(gpa)

[4, 3, 2, 4, 3]

## Example7

In [ ]:
# Combine First and Last Names

first_names = ["John", "Alice", "Bob"]
last_names = ["Doe", "Smith", "Johnson"]
full_names = list(map(lambda first, last: f"{first} {last}", first_names, last_names))
print(full_names)

['John Doe', 'Alice Smith', 'Bob Johnson']

In [ ]:
# Factory function: Function to double the value
def double(value):
    return value * 2

# List of products: Numbers to be processed
numbers = [1, 2, 3, 4, 5]

# Conveyor belt operation: Using map() to apply the function to each number
result_map_object = map(double, numbers)

# Convert the map object to a list to see the results
result_list = list(result_map_object)

print(result_list)

[2, 4, 6, 8, 10]

# `reduce()` function

Pythonâ€™s `reduce()` implements a mathematical technique commonly known as `folding` or `reduction`.

It's is a process where you reduce a list of items to a single values(cumulative value)

1. Apply a function (or callable) to the first two items in an iterable and generate a partial result.

2. Use that partial result, together with the third item in the iterable, to generate another partial result.

3. Repeat the process until the iterable is exhausted and then return a single cumulative value.

## Example1

In [ ]:
# import reduce form function tools
from functools import reduce

In [ ]:
# define a function taking two arguments
def my_add(a, b):
     result = a + b
     print(f"{a} + {b} = {result}")
     return result

In [ ]:
# reduce numbers by adding them
numbers = [0, 1, 2, 3, 4]
reduce(my_add, numbers)

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10

10

In [ ]:
# here first argument is taken as 100(initializer) and second one is from the list
reduce(my_add, numbers, 100)

100 + 0 = 100
100 + 1 = 101
101 + 2 = 103
103 + 3 = 106
106 + 4 = 110

110

## Example2

In [ ]:
def my_prod(a, b):
     return a * b

my_prod(1, 2)

2

In [ ]:
numbers = [1, 2, 3, 4]
reduce(my_prod, numbers)

24

## Example3

In [ ]:
# returns only the last value of the iteration
numbers = [1, 2, 3, 4]
reduce(lambda a, b: a * b, numbers)

24

## Example4

In [ ]:
# Minimum
def my_min_func(a, b):
    return a if a < b else b

# Maximum
def my_max_func(a, b):
    return a if a > b else b

In [ ]:
numbers = [3, 5, 2, 4, 7, 1]
reduce(my_min_func, numbers)

1

In [ ]:
reduce(my_max_func, numbers)

7

## Example5

In [ ]:
#Calculate Sum of Numbers

from functools import reduce
numbers = [1, 2, 3, 4, 5]
total_sum = reduce(lambda x, y: x + y, numbers)
print(total_sum)

15

## Example6

In [ ]:
#Multiply Elements of a List

from functools import reduce
numbers = [2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)

120

## Example7

In [ ]:
# Concatenate Strings

from functools import reduce

words = ["Data", "Science", "Courses"]
concatenated_string = reduce(lambda x, y: x + " " + y, words)
print(concatenated_string)

Data Science Courses

## Example8

In [ ]:
# Find Maximum Number in a List
from functools import reduce

numbers = [12, 7, 22, 15, 8]
max_number = reduce(lambda x, y: x if x > y else y, numbers)
print(max_number)

22

## Example9

In [ ]:
#Calculate Factorial of a Number

from functools import reduce

def factorial(n):
    return reduce(lambda x, y: x * y, range(1, n + 1))

result = factorial(5)
print(result)

120

# `filter()` function

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

In [ ]:
# returns the value where the boolean value in function is True
adults = filter(myFunc, ages)

for x in adults:
    print(x)

18
24
32

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# returns True if number is even
def check_even(number):
    if number % 2 == 0:
          return True

    return False

In [ ]:
even_numbers_iterator = filter(check_even, numbers)

# return the list value
list(even_numbers_iterator)

NameError: ignored

In [ ]:
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o', 'p', 'q', 'r']

# a function that returns True if letter is vowel
def filter_vowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']
    return True if letter in vowels else False

filtered_vowels = filter(filter_vowels, letters)

# converting to tuple
vowels = tuple(filtered_vowels)
print(vowels)

('a', 'e', 'i', 'o')